<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
            <a class="navbar-brand" href="/">NEWS CAST</a>

    </div>
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="/">HOME</a></li>

      <li><a href="/">GENERAL</a></li>



      <li class="dropdown show"><a class="dropdown-toggle"id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TECHNOLOGY</a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a style="font-size:20px; color:#ff5900; margin-left:15px;font-style:san-serif" class="dropdown-item" href="https://kepha-news-highlights.herokuapp.com/articles/ars-technica">Ars Technica</a><br><hr style="color:#ff5900">
              <a style="font-size:20px; color:#ff5900; margin-left:15px;font-style:san-serif" class="dropdown-item" href="https://kepha-news-highlights.herokuapp.com/articles/engadget">Engadget</a><br><hr style="color:#ff5900">
              <a style="font-size:20px; color:#ff5900; margin-left:15px;font-style:san-serif" class="dropdown-item" href="https://kepha-news-highlights.herokuapp.com/articles/the-next-web">The Next Web</a><br><hr style="color:#ff5900">
              <a style="font-size:20px; color:#ff5900; margin-left:15px;font-style:san-serif" class="dropdown-item" href="https://kepha-news-highlights.herokuapp.com/articles/the-verge">The Verge</a>
            </div>
          </div>
      </li>



  </ul>
</div>
  </div>

</div>
